{% extends "base.html"%}
{% block content %}
<nav>
    <ul>
        <li><a href="/random">random</a></li>
        <li><a href="/search">Search</a></li>
        {% if "username" in session %}
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">login</a></li>
        {% endif%}
        </ul>
</nav>
<form action="/delete", method="post">
    <ol>
        {% for drink in drinks %}
        <li>
            <a href="/favorites/{{drink.drink_name}}">{{drink.drink_name}}</a>
            <button type="submit", value="{{drink.drink_name}}", name="drink">
                delete
            </button>
        </li>
        {% endfor %}
    </ol>
</form>
    
{% endblock %}