{% extends 'base.html' %} {% block content %}
<form method="POST">
    {{form.hidden_tag()}}
    
    {% for field in form 
        if field.widget.input_type != "hidden" %}
        <p>
        {{field.label}}
        {{field}}
        {% endfor%}
        </p>
    <button type="submit">Submit</button>

</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}